{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}
</style>
{% block main %}
    <table class="table table-hover">
        <thead style="background-color:#EFEFEF;">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Stock Price</th>
            </tr>
            <tbody>
            <tr>
                <td>{{ z["name"] }} </td>
                <td>{{ z["price"] }}</td>
            </tr>
            <tbody>
        </thead>
{% endblock %}

